{% extends 'user_page.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">
      {% for message in messages %}
      <li class="list-group-item">
        <a href="{{ url_for('messages.show', id=message.user.id, message_id=message.id ) }}" class="message-link"/>
        <a href="{{ url_for('users.show', id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        
        <div class="message-area">
          <a href="{{ url_for('users.show', id=message.user.id) }}">@{{ message.user.username }}</a>
          <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ message.text }}</p>
        </div>
        <div class="unlike-area ml-auto" id="{{current_user.id}}.{{message.id}}">
            <i class="fa fa-heart" aria-hidden="true"></i> 
        </div>
      </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}